# An intro block
# Blocks are seperated by two new lines


# Another block


# Each block preceding an ENV=.. block will be used as description.


# Enter your name
YOUR_NAME=

# Test defaultvalue
WITH_DEFAULT=my-default-value

